<!-- <div class="w-44">
    <img [src]="url" alt="" class="rounded-xl w-40">
    <p class="font-bold font-serif py-2 max-h-20 overflow-hidden whitespace-pre-wrap text-ellipsis">{{news?.title}}</p>
    <div class="flex text-[0.5rem]">
        <span class="w-1/2">{{news?.updated | date: 'mediumDate'}}</span> <span class="w-1/2">{{news?.source}}</span>
    </div>
</div> -->

<div class="">
    <img 
        src="https://placehold.co/1920x1080" 
        alt="" 
        class="rounded-xl">
    <p 
        class="font-bold font-serif py-2 sm:py-3 text-base/5 sm:text-base md:text-lg xl:text-xl/7">
        News Title Lorem Ipsum Dolor Sit Amet
    </p>
    <div class="flex text-xs text-primary-four">
        <span class="min-w-[80px]">1 Hour Ago</span> 
        <span class="min-w-[80px]">CNN Indonesia</span>
    </div>
</div>