<!-- <div class="w-44">
    <img [src]="url" alt="" class="rounded-xl w-40">
    <p class="font-bold font-serif py-2 max-h-20 overflow-hidden whitespace-pre-wrap text-ellipsis">{{news?.title}}</p>
    <div class="flex text-[0.5rem]">
        <span class="w-1/2">{{news?.updated | date: 'mediumDate'}}</span> <span class="w-1/2">{{news?.source}}</span>
    </div>
</div> -->

<div class="lg:w-[300px]">
    <img src="./no_image.jpg" alt="" class="rounded-xl w-32 lg:w-[90%] mx-auto border lg:mb-4">
    <p 
        class="font-bold font-serif py-1 lg:py-4 lg:text-2xl">
        Title
    </p>
    <div class="flex gap-x-4 lg:gap-x-9 text-[0.5rem] lg:text-base lg:justify-end ">
        <p class="">Updated</p> <p class="">Source</p>
    </div>
</div>