<!-- <div class="w-44">
    <img [src]="url" alt="" class="rounded-xl w-40">
    <p class="font-bold font-serif py-2 max-h-20 overflow-hidden whitespace-pre-wrap text-ellipsis">{{news?.title}}</p>
    <div class="flex text-[0.5rem]">
        <span class="w-1/2">{{news?.updated | date: 'mediumDate'}}</span> <span class="w-1/2">{{news?.source}}</span>
    </div>
</div> -->

<div class="">
    <img src="https://placehold.co/1920x1080" alt="" class="rounded-xl border min-w-32 max-w-[85%] sm:min-w-44 md:min-w-40 md:max-w-50 lg:min-w-48 lg:w-full lg:mb-2 ">
    <p 
        class="font-bold font-serif py-1 lg:py-2 lg:text-2xl xl:text-3xl">
        Title
    </p>
    <div class="flex gap-x-4 lg:gap-x-7 text-[0.65rem] lg:text-sm lg:justify-end ">
        <p class="">Updated</p> <p class="">Source</p>
    </div>
</div>