<div class="">
    <p class="font-bold text-4xl mb-6">Newest</p>
    <a href="" class="relative">
        <img src="https://placehold.co/305x200" alt="" class="rounded-xl w-full">
        <div class="absolute bottom-0 -translate-y-4 px-2 w-full space-y-2">
            <p class="font-serif w-full font-bold h-12 overflow-hidden whitespace-pre-wrap text-ellipsis">$title dadawd  dawdawdawd dwa awdaw daw dadawdadawdw dwajdajdlkdj djakwdlakdjd djaklwdadwaw</p>
            <div class="flex text-xs w-60">
                <span class="w-1/2">$updated</span> <span class="w-1/2">$source</span>
            </div>
        </div>
    </a>
</div>