<div class="">
    <p class="font-bold text-xl sm:text-xl md:text-3xl lg:text-3xl mb-5 md:mb-7 lg:mb-8 xl:mb-10 2xl:mb-8">Newest</p>
    <div class="lg:grid lg:grid-cols-[1fr_0.45fr] gap-8 lg:gap-x-12 px-1 sm:px-3 xl:px-5">
        <div>
            <button 
                style="background-image: linear-gradient(0deg, rgb(50 48 48 / 34%) 9%, rgb(255 255 255 / 3%) 100%), url(./placeholder_image.jpg);" 
                class="w-full min-h-[200px] sm:min-h-[290px] md:min-h-[340px] lg:min-h-[500px] bg-cover bg-center rounded-lg relative">
                <div class="text-secondary-one text-start absolute bottom-0 space-y-4 p-2 mb-2 w-full">
                    <p class="font-serif text-2xl md:text-3xl font-bold">$Title</p>
                    <div class="flex text-xs md:text-sm w-full justify-end gap-x-4">
                        <span class="">$updated</span>
                        <span class="">$source</span>
                    </div>
                </div>
            </button>
        </div>

        <div class="hidden lg:block">
            <p class="text-base/8 lg:text-lg/8 hover:underline text-justify lg:text-justify xl:p-2">
                <span class="text-2xl font-serif">Nisi,</span> sagittis aliquet sit rutrum. Nunc, id vestibulum quam ornare adipiscing. Pellentesque sed turpis nunc gravida pharetra, sit nec vivamus pharetra. Velit, dui, egestas nisi, elementum mattis mauris, magnis. Massa tortor nibh nulla condimentum imperdiet scelerisque... read more
            </p>
        </div>
    </div>
</div>