<div class="lg:px-10 lg:py-8">
    <p class="font-bold text-5xl mb-6">Newest</p>
    <div class="grid grid-cols-[1.35fr_0.5fr]">
        <a href="" class="relative w-full">
            <img src="https://placehold.co/500x200" alt="" class="rounded-xl w-full max-h-[470px]">
            
            <div class="absolute bottom-0 px-2 w-full">
                <div class="lg:text-2xl/9 lg:p-4 lg:space-y-6">
                    <p class="font-serif font-bold max-w-[80%] mx-auto text-center">$title dadawd  dawdawdawd dwa awdaw daw dadawdadawdw dwajdajdlkdj djakwdlakdjd djaklwdadwaw</p>
                    <div class="flex justify-end text-xs w-60 lg:text-base lg:w-full">
                        <span class="w-1/2 lg:w-fit lg:min-w-[120px]">$updated</span> <span class="w-1/2 lg:w-fit lg:min-w-[120px]">$source</span>
                    </div>
                </div>
               
            </div>
            
        </a>
        <div class="p-4 max-w-[300px] mx-auto">
            <p class="text-lg/9 hover:underline ">
                <span class="text-4xl font-serif">Nisi,</span> sagittis aliquet sit rutrum. Nunc, id vestibulum quam ornare adipiscing. Pellentesque sed turpis nunc gravida pharetra, sit nec vivamus pharetra. Velit, dui, egestas nisi, elementum mattis mauris, magnis. Massa tortor nibh nulla condimentum imperdiet scelerisque... read more
            </p>
        </div>
    </div>
</div>