<div>
    <img src="{{currentImages}}" alt="" class="max-w-[1200px]">
    <div 
        class="relative max-w-[1600px] mx-auto">
        <div 
            class="flex w-[800px] overflow-hidden" 
            id="carousel-parent">
            @for (image of images; track $index) {
                <button 
                    (click)="updateDisplayImage($index)"
                    class="w-[200px] flex-shrink-0 p-1 carousel-child transition-transform duration-300 ease-in-out">
                    <img 
                        src="{{image}}" 
                        alt=""
                        [ngClass]="{'outline outline-red-500': $index === currentIndex}">
                </button>
            }
        </div>
        <div class="absolute h-full flex items-center top-0">
            <button
                (click)="prevSlide()"
                [disabled]="currentIndex <= 0"
                class="bg-primary-three bg-opacity-80 rounded-full disabled:opacity-40">
                <img src="./icons/arrow-left-round.svg" alt="" class="w-8 h-8">
            </button>
        </div>

        <div class="absolute h-full flex items-center top-0 right-0">
            <button
                (click)="nextSlide()"
                [disabled]="currentIndex >= images.length - 1"
                class="bg-primary-three bg-opacity-80 rounded-full disabled:opacity-40">
                <img src="./icons/arrow-right-round.svg" alt="" class="w-8 h-8">
            </button>
        </div>

        
    </div>
</div>