<!-- <ul class="text-center text-lg absolute bottom-1/2 z-20 bg-red-600 text-white">
  <li class="sm:hidden">phone</li>
  <li class="hidden sm:block md:hidden">phone landscape</li>
  <li class="hidden md:block lg:hidden">tablet</li>
  <li class="hidden lg:block xl:hidden">small laptop</li>
  <li class="hidden xl:block 2xl:hidden">pc kantor</li>
  <li class="hidden 2xl:block">gaming pc</li>
</ul> -->
<div>
  <app-header></app-header>
    <main class="p-4 md:p-5 lg:p-6 xl:px-7 xl:max-w-[1366px] xl:mx-auto 2xl:max-w-screen-2xl">
      <router-outlet />
      @if (!hideDashboard) {
        <div class="mb-6 md:mb-8 lg:mb-10 xl:mb-10 2xl:mb-14">
          <app-newest-news></app-newest-news>
        </div>
        <div class="mb-6 md:mb-8 lg:mb-10 xl:mb-10 2xl:mb-14">
          <app-popular-news></app-popular-news>
        </div>
      }
    </main>
  <app-footer></app-footer>
</div>

<!-- <app-carousel></app-carousel> -->
<!-- <app-carousel2></app-carousel2> -->
