<ul class="text-center text-sm absolute bottom-0">
  <li class="sm:hidden">phone</li>
  <li class="hidden sm:block md:hidden">phone landscape</li>
  <li class="hidden md:block lg:hidden">tablet</li>
  <li class="hidden lg:block xl:hidden">small laptop</li>
  <li class="hidden xl:block 2xl:hidden">pc kantor</li>
  <li class="hidden 2xl:block">gaming pc</li>
</ul>

<main class="p-4 md:p-5 lg:p-6 xl:p-7 2xl:p-8 2xl:max-w-[1900px] mx-auto">
  <div class="">
    <app-header></app-header>
  </div>
  <!-- <div class="mb-8 lg:mb-12">
    <app-newest-news></app-newest-news>
  </div>
  <div class="mb-8 lg:mb-12">
    <app-popular-news></app-popular-news>
  </div> -->
</main>
<app-footer></app-footer>

<router-outlet />
