<div class="flex gap-x-4 items-center justify-center">
    <button
        [disabled]="!canPrev()"
        (click)="prevClick()"
        class="px-2 py-1 md:px-4 md:py-2 bg-primary-two text-white rounded-md disabled:opacity-50 text-sm lg:text-base">
        Prev
    </button>
    <p class="font-serif text-sm lg:text-base">Current page: <span class="font-semibold">{{currentIndex}} / {{limit }}</span></p>

    <button 
        [disabled]="!canNext()"
        (click)="nextClick()"
        class="px-2 py-1 md:px-4 md:py-2 bg-primary-two text-white rounded-md disabled:opacity-50 text-sm lg:text-base">
        Next
    </button>
</div>